/* tête du site */

.head
{
    display:flex;
    Flex-flow: row wrap;
    align-content: space-between;
}
#HeadPicture

.HeadMenu

nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;

}
nav li
{
    margin-right: 15px;
}

/* section1 */

.Section1
{
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;

}

.Section1Serch

.Filtre
{
 margin-right: 15px;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-content: space-between;
}

.FiltreTittle

.Bouton

.Boutonicone

.BoutonTittle

.Information

.InformationIcone

/* section2 */

.host/popular
{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
   border: 1px black solid;
}
.popular
{
    background-color: #F2F2F2;
    border: solid 1px green;
    display: flex;
    flex-flow: column wrap;
    margin: 2px;
    width: 34%;
    
}

.popular-tittle
{
    border: hotpink 1px solid;
    display: flex;
    
  
}

.all-popular
{
    border: solid blue 1px;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.popular-box
{
    background-color: white;
    border: chartreuse solid 1px;
    display: flex;
    flex-flow: column wrap;
    margin: 5px;
    height:20%;
    width: 90%;
    max-width: 100%;
  
}
.popular-box-picture
{
    max-width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    
}
.popular-box-picture img
{
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.popular-box-tittle
{
  
    display: flex;
    flex-flow:column wrap;
}

.popular-box-star
{
    display: flex;
    flex-wrap: wrap;
  
}

/* section3 */

.host
{
    background-color: #F2F2F2;
    border: solid red 1px;
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
    width: 65%;
}

.host-tittle
{
    border: hotpink solid 1px;
    display: flex;
    
  
}

.all-host
{
    border: blue solid 1px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;

}

#Hebergement
{
   
    display: flex;
    flex-wrap: wrap;
}
.host-box
{
    background-color: white;
    border: springgreen solid 1px;
    display: flex;
    flex-flow:column wrap;
    margin: 5px;
    height: 20%;
    width: 30%;
    
  
}
.host-box-picture
{
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  
}

.host-box-picture img
{
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
   
}
.host-box-tittle
{
    
    
    display: flex;
    flex-flow:column wrap;

}
.host-box-star
{
    
   
    display: flex;
    flex-wrap: wrap;
  
}
.host-bouton
{
    
    display: flex;
    flex-wrap: wrap 
    justify-content: flex-start;
    align-self:flex-end;
    
    
  
}
/* Section4 */

.Section4
{
    border: yellow 1px solid;
    display: flex;
    

    

}
.Section4Tittle

#Activites

.Section4GoupePicture1

.Section4Picture1

.Section4Picture1 img
{
    flex: auto;
    display: flex;
    border-radius: 10px 10px 0px 0px;
    width: auto;
}

.Section4Tittle2

/* footer */

.Footer1

.FooterTittle1

.FooterApropos

.FooterTittle2

.FooterNoshebergements

.FooterTittle3

.FooterAssistance