/* tête du site */

img {
    max-width: 100%;
    height: auto;
    
}

.container {
    width: 960px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

 
.main-nav ul {
    margin: 1em 0 .5em;
    text-align: center;
}

.main-nav li {
    display: inline;
}

.main-nav a {
    display: inline-block;
    padding: .5em 1.5em;
}

/* section1 */

.all-sections
{
    border: mediumslateblue solid 5px;
    display: flex;
    flex-wrap: wrap;
}

.search
{
    border:solid 1px black;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;

}

.searchtitlle
{
    border: red solid 1px;
    display: flex;
}

.searchtxt
{
    border: solid 1px green;
    display: flex;

}

.searchlocation
{
    border: solid 1px hotpink;
    display: flex;
}

.Filtre
{
    
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    
    
}

.FiltreTittle
{
    border:  1px red solid;
    display: flex;
    flex-wrap: wrap;
}
.bouton
{
    border: solid 1px blue;
    display: flex;
    flex-wrap: nowrap;
}
.boutonicone
{
    border: green solid 1px;
    display: flex;
    flex-wrap: nowrap;
}

.BoutonTittle
{
    border: solid 1px hotpink;
    display: flex;
    flex-wrap: nowrap;
}

.Information
{
    border: solid 1px blue;
    display: flex;
    flex-wrap: wrap;
}

.InformationIcone
{
    border: green solid 1px;
    display: flex;
    flex-wrap: wrap;

}   
/* section2 */

.host-popular
{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
   border: 1px black solid;
   
}
.popular
{
    background-color: #F2F2F2;
    border: solid 1px green;
    display: flex;
    flex-flow: column wrap;
    margin: 2px;
    width: 34%;
    
    
    
}

.popular-tittle
{
    border: hotpink 1px solid;
    display: flex;
    margin: 2px;
    
  
}

.all-popular
{
    border: solid blue 1px;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.popular-box
{
    background-color: white;
    border: green solid 1px;
    display: flex;
    flex-flow: column wrap;
    margin: 5px;   
    width: 90%; 
     
    
  
}
.popular-box-picture
{
    width: 100%;    
    display: flex;
    flex-wrap: wrap;
    
}
.popular-box-picture img
{
    max-width: 35%;
    max-height: auto;
    display: flex;
    flex-wrap: wrap;
}
.popular-box-tittle
{
  
    display: flex;
    flex-flow:column wrap;
}

.popular-box-star
{
    display: flex;
    flex-wrap: wrap;
  
}

/* section3 */

.host
{
    background-color: #F2F2F2;
    border: solid red 1px;
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
    width: 65%;
    height: 50%;
}

.host-tittle
{
    border: hotpink solid 1px;
    display: flex;
    
    
  
}

.all-host
{
    border: blue solid 1px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;

}


.host-box
{
    background-color: white;
    border: green solid 1px;
    display: flex;
    flex-flow: column wrap;
    margin: 5px;
    width: 30%;
    
    
}
.host-box-picture
{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    
  
}

.host-box-picture img
{
    
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    
}


.host-box-tittle
{
    
    
    display: flex;
    flex-flow:column wrap;

}
.host-box-star
{
    
   
    display: flex;
    flex-wrap: wrap;
  
}
.host-bouton
{
    
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start;
    align-self:flex-end;
    
    
  
}
/* Section4 */

.Activity
{
    border: purple 1px solid;
    display: flex;
    flex-wrap: wrap;
    
}


.ActivityTittle
{
    border: hotpink solid 1px;
    display: flex;
   
}

.all-activity
{
  border: blue solid 1px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}



.activity-box
{
    background-color: white;
    border: green solid 1px;
    display: flex;
    flex-flow:column wrap;
    margin: 5px;
    width: 20%;
    

}

.activity-box-picture
{
    max-width:100% ;
    display: flex;
    flex-flow:column wrap;

}

.activity-box-picture img
{
    flex: auto;
    display: flex;
    border-radius: 10px 10px 0px 0px;
    width: 90%;
}

.activity-special img

{
    
    width:100%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;

}
.activity-box-tittle
{
    display: flex;
    flex-wrap: wrap;
    
}

/* footer */

.all-footer
{
    border: black solid 1px;
    background-color: #F2F2F2;
    display: flex;
    flex-wrap:wrap;
    width: 100%;    
    

}

.all-box
{
    border: blue solid 1px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: center;
    width: 100%;
    
}

.box-about

{
    border: red solid 1px;
    display: flex;
    flex-flow: column wrap;
    width: 20%;
        
}

.FooterTittleabout
{
    display: flex;
    margin: 5%;
}
.Footerabout
{
    display: flex;
    flex-flow:column wrap;
    margin: 5% ;
}
.box-host
{
    border: red solid 1px;
    display: flex;
    flex-flow:column wrap;
    width: 20%;
}
.FooterTittlehost
{
    display: flex;
    margin: 5%;
}
.Footerhost
{
    display: flex;
    flex-flow:column wrap;
    margin: 5% ;
}
.box-help
{
    border: red solid 1px;
    display: flex;
    flex-flow:column wrap;
    width: 20%;
}
.footertittlehelp
{
    display: flex;
    margin: 5%;
    
}
.Footerhelp
{
    display: flex;
    flex-flow:column wrap;
    margin: 5% ;
    
}




