/* tête du site */

.head
{
    display:flex;
    Flex-flow: row wrap;
    align-content: space-between;
}
#HeadPicture

.HeadMenu

nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;

}
nav li
{
    margin-right: 15px;
}

/* section1 */

.Section1
{
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;

}

.Section1Serch

.Filtre
{
 margin-right: 15px;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-content: space-between;
}

.FiltreTittle

.Bouton

.Boutonicone

.BoutonTittle

.Information

.InformationIcone

/* section2 */

.Section2and3
{ 
    max-width: 100%;
	height: auto;
    display: flex;
    
  
    

   
}

.Section2
{
    background-color: #F2F2F2;
    border: green 1px solid;
    margin-left: 70%;
    margin-top: 5%;
    height: 10%;
    display: flex;
    flex-flow: wrap column;
   
    
    
}



.Section2Tittle
{
    display: flex;
    align-items: flex-start;
  
}
.SectionTittle1
{
    display: flex;
  
}
.Section2GoupePicture1
{
    
    background: white;
    border-radius: 10px;
    margin: 5%;
    padding: 0.2%;
    max-width: 50%;
	max-height: 10%;
    display: flex;
    justify-content: space-between;
    border: blue 1px solid;
  
}
.Section2Picture1
{
    
    float: left;
    display: flex;
    justify-content: flex-start;
    margin-left: 2%;
    margin-top: 2%;
    
}
.Section2Picture1 img
{
    
    display: flex;
    justify-content: flex-start;
    border-radius: 10px 0px 0px 10px;
    max-width: 100%;
	height: auto;
    
}
.Section2Tittle2
{
    
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;    
    justify-content: flex-end;
  
}

.Section2StarPicture1
{
    
    display: flex;
    flex-flow: wrap row-reverse;
   
    
   
    
  
}

/* section3 */

.Section3
{
    background-color: #F2F2F2;
    border: red 1px solid;
    margin-right: 35%;
    display: flex;
    flex-flow: wrap row;
}

.Section3Tittle
{
    display: flex;
    align-items: flex-start;
    
  
}
#Hebergement
{
    display: flex;
}
.Section3GoupePicture1
{
    border: blue 1px solid;
    background: white;
    border-radius: 10px;
    margin: 5%;
    padding: 0.5%;
    max-width: 30%;
	max-height: 20%;
    display: flex;
    
    
    
  
}
.Section3Picture1
{
    
    display: flex;
    border-radius: 10px;
    width: auto
  
}

.Section3Picture1 img
{
    
    display: flex;
    border-radius: 10px 10px 0px 0px;
    max-width: 100%;
	height: auto;
}
.Section3Tittle2
{
    display: flex;
    flex-direction: column;
    
}
.Section3StarPicture1
{
    display: flex;
    flex-flow: nowrap row;
   

  
}
.Section3Bouton
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  
}
/* Section4 */

.Section4
{
    border: yellow 1px solid;
    display: flex;
    

    

}
.Section4Tittle

#Activites

.Section4GoupePicture1

.Section4Picture1

.Section4Picture1 img
{
    flex: auto;
    display: flex;
    border-radius: 10px 10px 0px 0px;
    width: auto;
}

.Section4Tittle2

/* footer */

.Footer1

.FooterTittle1

.FooterApropos

.FooterTittle2

.FooterNoshebergements

.FooterTittle3

.FooterAssistance